*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
   --main-dark: #0F1826;
   --main-brown: #AE8D5E;
}
ul{
   background-color: var(--main-dark);
   color: var(--main-brown);
   padding: 20px;
   text-align: center;
   list-style-type: none;
   font-size: 20px;
}
.content{
   
}
.content .center-c{
   /* position: absolute;
   left:50%;
   transform: translate(-50%, -50%); */
}